In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\claud\appdata\roaming\python\python37\site-packages (1.0.3)
Requirement already satisfied: pytz>=2017.2 in c:\users\claud\appdata\roaming\python\python37\site-packages (from pandas) (2019.3)
Requirement already satisfied: numpy>=1.13.3 in c:\users\claud\appdata\roaming\python\python37\site-packages (from pandas) (1.18.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\claud\miniconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in c:\users\claud\miniconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [2]:
import pandas as pd

In [3]:
covid_data = pd.read_csv('covid_19_clean_complete.csv')

In [4]:
covid_data.head(10)

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
0,NaN,Afghanistan,33.0000,65.0000,1/22/20,0,0,0
1,NaN,Albania,41.1533,20.1683,1/22/20,0,0,0
2,NaN,Algeria,28.0339,1.6596,1/22/20,0,0,0
3,NaN,Andorra,42.5063,1.5218,1/22/20,0,0,0
4,NaN,Angola,-11.2027,17.8739,1/22/20,0,0,0
5,NaN,Antigua and Barbuda,17.0608,-61.7964,1/22/20,0,0,0
6,NaN,Argentina,-38.4161,-63.6167,1/22/20,0,0,0
7,NaN,Armenia,40.0691,45.0382,1/22/20,0,0,0
8,Australian Capital Territory,Australia,-35.4735,149.0124,1/22/20,0,0,0
9,New South Wales,Australia,-33.8688,151.2093,1/22/20,0,0,0

In [ ]:
!pip install matplotlib
!pip install seaborn
import matplotlib.pyplot as plt
import seaborn as sb

Requirement already satisfied: matplotlib in c:\users\claud\appdata\roaming\python\python37\site-packages (3.2.1)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\claud\appdata\roaming\python\python37\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: numpy>=1.11 in c:\users\claud\appdata\roaming\python\python37\site-packages (from matplotlib) (1.18.3)
Requirement already satisfied: cycler>=0.10 in c:\users\claud\appdata\roaming\python\python37\site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in c:\users\claud\appdata\roaming\python\python37\site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\claud\miniconda3\lib\site-packages (from matplotlib) (2.8.1)
Requirement already satisfied: six in c:\users\claud\miniconda3\lib\site-packages (from cycler>=0.10->matplotlib) (1.14.0)

In [ ]:
sb.pairplot(covid_data.dropna(), hue='Country/Region')
;

In [ ]:
covid_data.drop(['Province/State', 'Lat', 'Long'],axis=1, inplace=True)
covid_data['Date'] = pd.to_datetime(covid_data['Date'])

In [ ]:
covid_data.head(10)

In [ ]:
#aggregates de countries by date
covid_data = covid_data.groupby(['Country/Region', 'Date'])[['Confirmed', 'Deaths', 'Recovered']].apply(sum)

#eliminates rows with no suspected, no deaths and no cured
covid_data = covid_data[(covid_data.T != 0).any()] 

#get group by columns back
covid_data.reset_index(inplace=True) 

#substructs the mim date from the current date (and returns the result in days - dt.days)
covid_data['Ellapsed Days'] = (covid_data['Date'] - covid_data.groupby('Country/Region')['Date'].transform('min')).dt.days

covid_data.head(10)

In [ ]:
#get countries present in covid data and removing trailing white spaces
covid_data_country_unique = covid_data['Country/Region'].drop_duplicates().str.strip()
pd.set_option('display.max_rows', covid_data_country_unique.shape[0]+1)
print(covid_data_country_unique)

# Get names of indexes for which column Country/Region is not a country
index1 = covid_data[covid_data['Country/Region'] == 'Diamond Princess' ].index
index2 = covid_data[covid_data['Country/Region'] == 'MS Zaandam' ].index
index3 = covid_data[covid_data['Country/Region'] == 'Holy See' ].index
 
# Delete these rows indexes from dataFrame
covid_data.drop(index1 , inplace=True)
covid_data.drop(index2 , inplace=True)
covid_data.drop(index3 , inplace=True)

In [ ]:
countries_data = pd.read_csv('countries of the world.csv')

#removing trailing white spaces
countries_data_country = countries_data['Country'].str.strip()

#replacing & for and
countries_data_country.replace({'&': 'and'}, inplace=True, regex=True)

#particular cases
countries_data_country.replace({'Taiwan': 'Taiwan*'}, inplace=True, regex=True)
countries_data_country.replace({'Macedonia': 'North Macedonia'}, inplace=True, regex=True)
countries_data_country.replace({'Korea, South': 'South Korea'}, inplace=True, regex=True)
countries_data_country.replace({'United States': 'US'}, inplace=True, regex=True)
countries_data_country.replace({'Gambia, The': 'Gambia'}, inplace=True, regex=True)
countries_data_country.replace({'American Samoa': 'Samoa'}, inplace=True, regex=True)
countries_data_country.replace({'Czech Republic': 'Czechia'}, inplace=True, regex=True)
countries_data_country.replace({'Swaziland': 'Eswatini'}, inplace=True, regex=True)
countries_data_country.replace({'East Timor': 'Timor-Leste'}, inplace=True, regex=True)
countries_data_country.replace({'Bahamas, The': 'Bahamas'}, inplace=True, regex=True)
countries_data_country.replace({'Cape Verde': 'Cabo Verde'}, inplace=True, regex=True)
countries_data_country.replace({'Central African Rep.': 'Central African Republic'}, inplace=True, regex=True)
countries_data_country.replace({'Congo, Dem. Rep.': 'Congo (Kinshasa)'}, inplace=True, regex=True)
countries_data_country.replace({'Congo, Repub. of the': 'Congo (Brazzaville)'}, inplace=True, regex=True)


# Get names of indexes for which column Country/Region is not present in countries_data
index1 = covid_data[covid_data['Country/Region'] == 'Kosovo' ].index
index2 = covid_data[covid_data['Country/Region'] == 'West Bank and Gaza' ].index
index3 = covid_data[covid_data['Country/Region'] == 'Montenegro' ].index
index4 = covid_data[covid_data['Country/Region'] == 'South Sudan' ].index
 
# Delete these rows indexes from dataFrame
covid_data.drop(index1 , inplace=True)
covid_data.drop(index2 , inplace=True)
covid_data.drop(index3 , inplace=True)
covid_data.drop(index4 , inplace=True)

In [ ]:
#get countries present in covid data and removing trailing white spaces
covid_data_country_unique = covid_data['Country/Region'].drop_duplicates().str.strip()

#get series with all the countries present in both data sets
df = pd.concat([covid_data_country_unique,countries_data_country])

#drop values that are repeated (keep the unique values)
unique_values = df.drop_duplicates(keep=False)

#sort them for an easy read
unique_values = unique_values.sort_values()

In [ ]:
pd.set_option('display.max_rows', unique_values.shape[0]+1)
print(unique_values)

In [ ]:
#replacing the column with the country names with the revised column
old_df = pd.DataFrame(countries_data)
reviwed_df = pd.DataFrame(countries_data_country)
new_df = old_df.assign(Country=reviwed_df['Country'])

#saving both cleaned data_sets into to a file
new_df.to_csv('countries_data_clean.csv')

covid_data.to_csv('covid_data_clean.csv')